@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

::-webkit-scrollbar {
  display: none;
}


@layer components {
  .detail-item::after {
    content: '|';
    margin: 0 0.75rem; /* 12px */
    color: #d1d5db; /* gray-300 */
    font-weight: 100;
  }
  .detail-item:last-child::after {
    content: '';
  }
}